<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GPT-2 Chatbot</title>
</head>
<body>
    <h1>GPT-2 Chatbot</h1>
    <div id="chatbox"></div>
    <input id="userInput" type="text" name="msg" placeholder="Enter a message">
    <button onclick="sendMessage()">send</button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function sendMessage() {
            var userInput = $('#userInput').val();
            $.get("/get", { msg: userInput }).done(function(data) {
                $('#chatbox').append('<p><strong>You:</strong> ' + userInput + '</p>');
                $('#chatbox').append('<p><strong>Bot:</strong> ' + data + '</p>');
                $('#userInput').val('');
            });
        }
    </script>
</body>
</html>
